* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-width: 300px;
  justify-content: center;
  align-items: center;
}

header img {
  width: 100%;
}
header {
  align-items: center;
}
.header-content {
  position: absolute;
}
.text {
  border: 1px solid black;
  position: absolute;
  width: 950px;
  background-color: #e0b555;
  top: -180px;
  font-size: 30px;
  padding: 20px 0;
  opacity: 0.8;
  text-align: left;
}
.card {
  border-top: 5px solid #f6c244;
  width: max-content;
}
.card img {
  width: 600px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.card-content {
  padding: 30px;
  text-align: left;
  font-size: large;
}
.card-content p {
  margin-bottom: 50px;
}
.card-foot {
  margin-top: 20px;
  font-size: larger;
}
section {
  margin-top: 30px;
}
#album {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-content: center;
  padding: 70px;
  /* width: 100%; */
}

@media only screen and (min-width: 500px) {
  #album {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 900px) {
  #album {
    grid-template-columns: repeat(2, 1fr);
  }
}
